/2.css
/abra
/am
/amr.html
/animal.class
/animal.java
/book
/desktop.ini
/Dev-C++.lnk
/form
/Git-2.41.0.3-64-bit.exe
/GitHub.lnk
/java
/juy.html
/k.html
/Microsoft Edge.lnk
/MongoDBCompass.lnk
/New folder
/pa.css
/pagla
/Visual Studio Code.lnk
/Web designing